 .trigger {
    font-size: 20px;
    line-height: 64px;
    padding: 10 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
 .trigger:hover {
    color: #1890ff;
  }
  
 .logo {
    height: 3em;
    background: rgba(255, 255, 255, 0.3);
    margin: 10px;
    display: flex;
    color: #08c;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    /* justify-content: center; */
  }

  .logo .text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.2em 0.5em;
    font-size: 10px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }